[user]
  #email = adam.meyer@trustly.com
  email = adam@meyerfam.com
  #name = ameyertrustly
  name = MeyerCode
  #signingkey = D570899A
[commit]
  #gpgsign = true
[alias]
	co = checkout
	st = status
	pl = pull
  cl = clone
	mg = merge
	f = fetch
  pu = push
  br = branch
  cm = commit
  lg = log --oneline

